<main>
<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Email</h5>
    <p class="card-text">Here is my email, feel free to contact.</p>
    <%= link_to "loubanaeng@gmail.com", 'loubanaeng@gmail.com' %>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Phone</h5>
    <p class="card-text">Here is my Phone number, feel free to contact.</p>
    <%= link_to "00905316870954", '00905316870954' %>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">LinkedIn</h5>
    <p class="card-text">Here is my LinkedIn.</p>
    <%= link_to "Lobana alarabi", 'https://www.linkedin.com/in/lobana-alarabi-38470b199/' %>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Github</h5>
    <p class="card-text">Here is my Github.</p>
    <%= link_to "Lobana-sky", 'https://github.com/Lobana-sky' %>
    </div>
</div>
</main>