<main>
<img src="https://creativehub.ltd/wp-content/uploads/2020/07/Web-Hosting-Services.jpeg" class="img-fluid" alt="best">
</main>
<section>
<div class="d-grid gap-3">
  <div class="p-2 bg-light border">
  <img src="https://creativehub.ltd/wp-content/uploads/2020/07/Web-Hosting-Services.jpeg" class="img-thumbnail h-5 w-5" alt="best">
  <p>"description"</p>
  <p>"description"</p>
  <a href="#">"live work"</a>
  </div>
  <div class="p-2 bg-light border">
  <img src="https://creativehub.ltd/wp-content/uploads/2020/07/Web-Hosting-Services.jpeg" class="img-thumbnail" alt="best">
  <p>"description"</p>
  <p>"description"</p>
  <a href="#">"live work"</a>
  </div>
  <div class="p-2 bg-light border">
  <img src="https://creativehub.ltd/wp-content/uploads/2020/07/Web-Hosting-Services.jpeg" class="img-thumbnail" alt="best">
  <p>"description"</p>
  <p>"description"</p>
  <a href="#">"live work"</a>
  </div>
</div>
</section>